*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

header,.jumbotron,.about,
footer,.copyright{
    color: white;
}

/* HEADER STYLE------------------------------------ */

header{
    background-color: rgb(44, 62, 80);
}


/* ------------------------------------------------- */

/* JUMBOTRON STYLE ---------------------------------- */

.jumbotron{
    background-color: rgb(26, 188, 156);
}


/* ----------------------------------------------------- */

/* PORTFOLIO STYLE */

.card{
    border: 1px solid crimson;
}

/* ABOUT ME STYLE ----------------------------------------- */

.about{
    background-color: rgb(26, 188, 156) ;
}

.about button{
    border: 1px solid blue;
}

/* ------------------------------------------------------- */

/* CONTACT ME STYLE --------------------------------------- */

.contact-me button{
    background-color: rgb(26, 188, 156);
}


/* FOOTER STYLE -------------------------------------------- */

footer{
    background-color: rgb(58, 84, 109);
}

/* ------------------------------------------------------------ */

/* COPYRIGHT STYLE ------------------------------------------- */

.copyright{
    background-color: rgb(44, 62, 80);
}